@import './reset.css';
@import './variables.css';

/*  */

body {
  min-width: 360px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  overflow-x: hidden;
}

/*  */

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*  */

a {
  text-decoration: none;
  color: inherit;
}

/*  */

.container {
  max-width: 1200px;
  box-sizing: content-box;
  padding: 0 15px;
  margin: 0 auto;
}
