@import './reset.css';
@import './variables.css';

/*  */

body {
  min-width: 360px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  overflow-x: hidden;
}

/*  */

#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*  */

a {
  text-decoration: none;
  color: inherit;
}

/*  */

.container {
  flex: 1;
  max-width: 1200px;
  box-sizing: content-box;
  padding: 0 15px;
  margin: 0 auto;
}

/* Троеточие в конце */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Троеточие в конце. Текст в одной строке */
.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
